
* {
	margin: 0;
	padding: 0;
}

:root {
	--primary: dodgerblue;
	--secondary: #86C48B;
	--white: #F0F0F0;
	--off-white: #DFDEF3;

	box-sizing: border-box;
	color: var(--off-white);
	font-family: "Source Code Pro", monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
}

body {
	box-sizing: border-box;

	background: rgb(15, 15, 40);
	background: linear-gradient(
	-2deg,
	rgba(25, 74, 165, 1) 0%,
	rgba(24, 52, 107, 1) 10%,
	rgba(17, 35, 71, 1) 25%,
	rgba(15, 15, 20, 1) 100%
	);
}

h1 {
	color: var(--off-white);
	font-weight: 700;
}

p {
	margin: 2rem;
}

a {
	color: var(--secondary);
	text-decoration: underline;
}

a:hover {
	color: var(--primary);
}

footer {
	position: absolute;
	bottom: 2px;
	left: 8px;

	color: rgb(117, 132, 156);
	font-style: italic;
	font-size: 14px;
}

footer a {
	color: inherit;
}

#background {
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

.black-glass {
	background: rgba(0, 0, 0, 0.4);
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
}

.white-shadow {
	box-shadow: 0 5px 20px 0px rgba(255,255,255,0.05);
	-webkit-box-shadow: 0 5px 20px 0px rgba(255,255,255,0.05);
	-moz-box-shadow: 0 5px 20px 0px rgba(255,255,255,0.05);
}

.social-link a {
	color: var(--off-white);
	text-decoration: none;

	padding: 4px 12px;
	display: flex;
	align-items: center;
	column-gap: 8px;
}

.social-link a:hover {
	color: var(--primary);
}

.social-link svg {
	height: 1.1rem;
}

@media (max-width: 700px) {
	.hide-on-mobile {
		display: none !important;
	}
}
