
:root {
	--primary: dodgerblue;
	--secondary: rgb(160, 213, 153);
	--white: #F0F0F0;
	--off-white: #DFDEF3;

	color: var(--off-white);
	font-family: "Source Code Pro", monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	line-height: 1.0;
}

:root, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgb(15, 15, 40);
	background: linear-gradient(
	-10deg,
	rgba(44, 104, 215, 1) 0%,
	rgba(24, 52, 107, 1) 20%,
	rgba(17, 35, 71, 1) 35%,
	rgba(15, 15, 20, 1) 100%
	);
}

h1 {
	color: var(--off-white);
	font-weight: 700;
	line-height: 0.8;
}

#title {
	margin: 0;
	margin-left: 8px;

	font-size: 60px;
}

p {
	margin: 28px;
}

a {
	color: var(--secondary);
	text-decoration: underline;
}

a:hover {
	color: var(--primary);
}

.black-glass {
	background: rgba(0, 0, 0, 0.4);
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
}

.v-separator {
	text-align: center;
}

@media (max-width: 700px) {
	.hide-on-mobile {
		display: none !important;
	}
}
