@import 'tailwindcss';

@theme {
	--font-mono: 'Source Code Pro', 'mono';

	--color-primary: dodgerblue;
	--color-secondary: #86c48b;
	--color-off-white: #dfdef3;

	--shadow-light: 0 5px 20px 0px rgba(255, 255, 255, 0.05);
}

@layer base {
	* {
		@apply text-off-white font-mono;
	}

	html,
	body {
		height: 100%;
	}

	h1 {
		font-weight: 700;
	}

	p {
		margin: 2rem 0;
	}

	a {
		@apply hover:text-primary;
	}
}

.black-glass {
	background: rgba(0, 0, 0, 0.4);
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
}

