@import 'tailwindcss';

@theme {
	--font-mono: 'Source Code Pro', 'mono';

	--color-primary: dodgerblue;
	--color-secondary: #86c48b;
	--color-off-white: #dfdef3;

	--shadow-light: 0 5px 20px 0px rgba(255, 255, 255, 0.05);
}

@layer base {
	* {
		@apply text-off-white font-mono;
	}

	html,
	body {
		height: 100%;
	}

	h1 {
		@apply text-5xl font-bold;
	}

	h2 {
		@apply text-3xl font-semibold;
	}

	a {
		@apply hover:text-primary;
	}
}

.black-glass {
	background: rgba(0, 0, 0, 0.4);
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
}

.list-gt-bullet {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.list-gt-bullet li {
	padding-left: 1em;
	text-indent: -1em;
}

.list-gt-bullet li::before {
	content: '>';
	padding-right: 5px;
	color: var(--color-secondary);
}
